{% extends 'base.html.twig' %}

{% block title %}Hello RandomNumberController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="example-wrapper">
    <h1>
        Случайное число: {{ key_number }}
    </h1>
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Maxim/Desktop/PHP_cource/Site_PHP/my_project/src/Controller/RandomNumberController.php'|file_link(0) }}">src/Controller/RandomNumberController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Maxim/Desktop/PHP_cource/Site_PHP/my_project/templates/random_number/index.html.twig'|file_link(0) }}">templates/random_number/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
