<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/js/all.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <title>
        {% block title %}
            Welcome!
        {% endblock %}
    </title>
    {% block stylesheets %}
    {% endblock %}
    <style>
        .alerts {
            display: none;
        }

        .class {
            padding: 20px;
            background: red;
        }

        .loader {
            position: fixed;
            background: #FFFFFF;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>


{% block modals %}
{% endblock %}

<div class="alerts">
    <div class="alert class"></div>
</div>
<div class="loader"></div>
<div class="container">
    <div class="row">

    </div>
    <div class="row">
        <div class="col-12">
            {% block myheader %}{% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            {% block leftMenu %}{% endblock %}
        </div>
        <div class="col-sm-9">
            {% block body %}{% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="footer">
                {% block footer %}
                    powered by Max (c) 2019
                {% endblock %}
            </div>
        </div>
    </div>
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
