{% extends 'base.html.twig' %}

{% block title %}Чат с пользователем{% endblock %}

{% block body %}
    <div class="messages"></div>
    <input type="text" id="userMessage">
    <div class="btn btn-primary" onclick="sendMessage()">Отправить</div>
{% endblock %}


{% block javascripts %}
    <script>
        $(document).ready(function () {
            loadMessages();
        });
        let lastMessageId = 0;

        function loadMessages()
        {
            $.get("{{ path('get_messages_with_user', {'user': destination.id}) }}",
                {lastMessageId: lastMessageId},
                function (responce) {
                if(responce.status === "success"){
                    let messages = responce.messages;
                    for(let i = 0; i < messages.length; i++){
                        $(".messages").html($(".messages").html() + "<hr>" + messages[i]["message"])
                    }
                    lastMessageId = messages[messages.length - 1]["id"];
                }
                loadMessages();
                }
            );
        }

        function sendMessage() {
            let message = $("#userMessage").val();
            if(message.length < 10){
                alert("Минимальная длина сообщения - 8 символов");
                return;
            }

            $.post("{{ path("send_message") }}",{
                message: message,
                destination: {{ destination.id }} //изменили
            }, function (responce) {
                if (responce.status === "success"){
                    $(".messages").html($(".messages").html() + "<hr>" + message);
                    $("#userMessage").val("");
                }else{
                    alert("Чтото пошло не так!");
                }
            });
        }
    </script>
{% endblock %}